/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    z-index: 997;
    padding: 7px 0;
    background: #fff;
    position: fixed;
    width: 100%;
}

#header .logo img {
    padding: 0;
    margin: 0 auto;
    max-height: 45px;
    display: flex;
}