/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    position: relative;
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    color: #000;
}

section {
    padding: 60px 0;
}

::selection {
    color: #fff;
    background: #f9b233;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#header video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
}

#header .page-centrale {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

#header h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

#header h1 a,
#header h1 a:hover {
    color: #fff;
    line-height: 1;
    display: inline-block;
}

#header h2 {
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
}

#header img {
    padding: 0;
    margin: 0;
}

@media (max-width: 992px) {
    #header h1 {
        font-size: 36px;
    }

    #header h2 {
        font-size: 20px;
        line-height: 30px;
    }

    #header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.logo img {
    width: 40%;
}
.logo-col {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #3b434a;
    position: relative;
    z-index: 2;
}

.section-title span {
    position: absolute;
    top: 30px;
    color: #eef0f2;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
    line-height: 0;
}

@media (max-width: 768px) {
    section {
        top: 120px;
    }

    section.section-show {
        top: 80px;
    }
}

/*--------------------------------------------------------------
# Bouton retour en haut
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #ffb727;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #ffc550;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*######################## */
/*###### SEARCH BAR ###### */
/*######################## */

.wrapper p {
    display: flex;
    justify-content: right;
    color: #fff;
    font-weight: 500;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.wrapper .search-input {
    background: #fff;
    width: 100%;
    position: relative;
    box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
}

ul {
    padding-left: 0;
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 170px 0 20px;
    font-size: 18px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input .autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    color: black;
    width: 100%;
    cursor: default;
}

.search-input.active .autocom-box li {
    display: block;
}

.search-input .icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #f9b233;
    cursor: pointer;
    z-index: 10;
}

.liststyle {
    list-style: none;
    font-size: 1.1rem;
    cursor: pointer;
    text-align: center;
    color: #000;
}

.liststyle:hover {
    background-color: #f9b233;
    color: #fff;
}

.icons {
    margin-right: 1rem;
}

/*######################### */
/*###### CONSEIL BOX ###### */
/*######################### */

.conseil-box {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.conseil-box img {
    width: 35px;
    height: 35px;
}

.conseil-box button {
    padding: 15px 40px;
    background: #fff;
    border-radius: 50px;
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.conseil-box button::after,
.conseil-box button::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.conseil-box button::after {
    width: 30px;
    height: 1px;
    background: black;
    transform: translateX(-3px);
    margin-top: 0;
}

.conseil-box button::before {
    content: "";
    transform: rotate(-135deg) translateX(50%);
    width: 11px;
    height: 11px;
    background: transparent;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: -1px;
}

.conseil-box button:hover {
    padding: 15px 60px 15px 20px;
}

.conseil-box button:hover::after,
.conseil-box button:hover::before {
    opacity: 1;
    right: 15px;
}


/*######################## */
/*###### RESPONSIVE ###### */
/*######################## */

@media (max-width: 768px) {
    .title-city {
        font-size: 23px;
    }
    .logo {
        display: flex;
        justify-content: center;
    }
    .page-centrale h2 {
        text-align: center;
    }
}

@media (max-width: 575px) {
    .page-centrale h2 {
        text-align: center;
    }
    .logo img {
        width: 55%;
    }
    #header h2 {
        margin: 35px 0 35px 0;
    }
}